<div class="container">
<div class="row">
  <div class="col-md-4">
      <a href="#/"><button type="button" class="btn btn-success">Revenir aux Articles</button></a>
</div>
</div>
</div>

<h1 class="text-center">Commentraires récents sur l'article:<br>
   {{title}}</h1>
<div ng-hide="loading"></div>

  <div class="container">
          <div class="panel panel-white post panel-shadow">
              <div class="post-heading">
                  <div class="pull-left image">
                      <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                  </div>
                  <div class="pull-left meta">
                      <div class="title h5">
                          <a href="#"><b>Ryan Haywood</b></a>
                          made a post: {{title}}
                      </div>
                  </div>
              </div>
              <div class="post-description">
                  <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
              </div>
              <div class="post-footer">
                  <div class="input-group">
                    <form ng-submit="addComment()">
                      <input type="text" placeholder="Username" ng-model="newComment.username"/>
                      <input type="text" placeholder="City" ng-model="newComment.city"/>
                      <input type="text" placeholder="Username" ng-model="newComment.email">
                      <br>
                      <textarea ng-model="newComment.content" placeholder="Comment"></textarea>
                      <br>
                      <input type="submit" value="Envoyer"/>
                    </form>
                  </div>
                  <div ng-repeat="comment in comments | filter:{content:query} | orderBy:order">

                  <ul class="comments-list">
                      <li class="comment">
                          <a class="pull-left" href="#">
                              <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                          </a>
                          <div class="comment-body">
                              <div class="comment-heading">
                                  <h4 class="user">{{comment.username}}</h4>
                              </div>
                              <p>{{comment.content}}</p>
                          </div>
                          <ul class="comments-list">

                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
  </div>
</div>
