<div ng-hide="!loading"></div>
<h1 class="text-center">Articles recents</h1>
<hr>
<div class="container">
  <div ng-repeat="post in posts">
    <div class="col-md-5 col-md-offset-1 jumbotron">
      <h1>{{post.name}}</h1>
      <hr></hr>
      <article><p>{{post.content}}</p></article>
      <p class="text-center">Tags:
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>
        | <i class="icon-user"></i>By: <a href="#">Admin</a>
        | <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm
        | <i class="icon-comment"></i> <a href="#/comments/{{post.id}}">{{post.comments.length}} Commentaires</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
      </p>
    </div>
  </div>
</div>
